name: Build and publish Docker image to GitHub Container Registry

on:
  push:
    branches: [ghcr]
  workflow_dispatch:

permissions:
  contents: read
  packages: write

jobs:
  build-and-push:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # We do this hack in the Dockerfile so that we can build container images
      # in the isolated environment of the server on-board. It just needs a
      # directory to stat.
      - name: Create build context directory
        run: mkdir -p .build/checkouts

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: |
            ghcr.io/cohoe/swiftarr:latest
            ghcr.io/cohoe/swiftarr:${{ github.sha }}
          platforms: linux/amd64,linux/arm64
